* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.i-name {
  font-size: 52px;
  font-weight: 700;
  color: #2f3d54;
}
.i-intro {
  font-size: 40px;
  font-weight: 450;
  color: #2f3d54;
}
.intro {
  display: flex;
  height: 100vh;
  font-family: "Poppins";
}

.i-left {
  flex: 1;
  margin-top: 225px;
}

.i-left-wrapper {
  padding: 50px;
  text-align: center;
}

.i-title-circle {
  height: 150px;
  width: 150px;
  background-color: #6ea6ff;
  opacity: 15%;
  position: relative;
  border-radius: 50%;
  /* left: 50%; */
  margin-left: auto;
  margin-right: auto;
}

.i-title {
  height: 150px;
  overflow: hidden;
  margin: 15px 0;
  position: relative;
}

.i-title-wrapper {
  height: 100%;
  animation: move 20s ease-in-out infinite alternate;
}

@keyframes move {
  0% {
    transform: translateY(-150px);
  }
  20% {
    transform: translateY(-300px);
  }
  50% {
    transform: translateY(-450px);
  }
  75% {
    transform: translateY(-600px);
  }
  100% {
    transform: translateY(-750px);
  } 
}

.i-title-item {
  height: 150px;
  font-size: 36px;
  font-weight: 900;
  color: #ff6443;
  text-align: center;
  line-height: 150px;
}

.i-right {
  flex: 1;
}

.triangle-right {
  -webkit-clip-path: polygon(
    92.32051% 40%,
    93.79385% 43.1596%,
    94.69616% 46.52704%,
    95% 50%,
    94.69616% 53.47296%,
    93.79385% 56.8404%,
    92.32051% 60%,
    39.82051% 100%,
    0 100%,
    0 0,
    39.82051% 0%
  );
  clip-path: polygon(
    92.32051% 40%,
    93.79385% 43.1596%,
    94.69616% 46.52704%,
    95% 50%,
    94.69616% 53.47296%,
    93.79385% 56.8404%,
    92.32051% 60%,
    39.82051% 100%,
    0 100%,
    0 0,
    39.82051% 0%
  );

  width: 100vh;
  height: 100vh;
  background: #2f3d54;
  z-index: -1;
  position: relative;
}

.stefan-camera {
    position: absolute;
    display: block;
    bottom: 0px;
    left: 205px;
    max-height:70vh;
}

.i-button {
  padding: 0 35%;
}

.i-button-glimpse {
  background-color: #6ea6ff;
  border: none;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
  font-size: 60%;
  font-family: "Poppins";
  height: 36px;
  line-height: 1.15;
  margin: 12px 0 0;
  padding: 0 25px;
  outline: none;
  position: relative;
  text-align: center;
  text-transform: none;
  width: 100%;
}

.button-9 {
  appearance: button;
  backface-visibility: hidden;
  background-color: #405cf5;
  border-radius: 6px;
  border-width: 0;
  box-shadow: rgba(50, 50, 93, 0.1) 0 0 0 1px inset,
    rgba(50, 50, 93, 0.1) 0 2px 5px 0, rgba(0, 0, 0, 0.07) 0 1px 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue",
    Ubuntu, sans-serif;
  font-size: 100%;
  height: 44px;
  line-height: 1.15;
  margin: 12px 0 0;
  outline: none;
  overflow: hidden;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-transform: none;
  transform: translateZ(0);
  transition: all 0.2s, box-shadow 0.08s ease-in;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
}

.button-9:disabled {
  cursor: default;
}

.button-9:focus {
  box-shadow: rgba(50, 50, 93, 0.1) 0 0 0 1px inset,
    rgba(50, 50, 93, 0.2) 0 6px 15px 0, rgba(0, 0, 0, 0.1) 0 2px 2px 0,
    rgba(50, 151, 211, 0.3) 0 0 0 4px;
}


@media screen and (max-width: 960px) {

  .i-right {
    display: none;
  }

  .i-left {
    margin-top: 0px;
  }
  
}
